includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    ignoreErrors:
        -
            identifier: missingType.iterableValue
